projects/ai-study-workflow/workflows/note-taking.json
{
  "name": "Enhanced Smart Note-Taking Automation",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "resolveData": true,
        "options": {
          "driveId": {
            "mode": "list",
            "value": ""
          }
        }
      },
      "id": "google-drive-trigger",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [250, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mimeType }}",
              "operation": "regex",
              "value2": "^(application/vnd.google-apps.document|text/plain|application/pdf|application/vnd.openxmlformats-officedocument.wordprocessingml.document)$"
            }
          ]
        }
      },
      "id": "validate-file-type",
      "name": "Validate File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "download-file",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [650, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract and enrich metadata\nconst item = $input.item.json;\nconst content = item.data ? Buffer.from(item.data, 'base64').toString('utf-8') : '';\n\n// Calculate metadata\nconst wordCount = content.split(/\\s+/).filter(w => w.length > 0).length;\nconst readingTime = Math.ceil(wordCount / 200); // avg 200 words/min\nconst charCount = content.length;\n\n// Extract potential categories from content\nconst categories = [];\nconst categoryKeywords = {\n  'Mathematics': ['equation', 'theorem', 'proof', 'formula', 'calculate'],\n  'Science': ['experiment', 'hypothesis', 'research', 'study', 'observation'],\n  'Programming': ['code', 'function', 'algorithm', 'debug', 'compile'],\n  'Business': ['strategy', 'market', 'revenue', 'analysis', 'customer'],\n  'History': ['century', 'historical', 'period', 'era', 'ancient'],\n  'Literature': ['author', 'novel', 'poem', 'narrative', 'character']\n};\n\nconst lowerContent = content.toLowerCase();\nfor (const [category, keywords] of Object.entries(categoryKeywords)) {\n  if (keywords.some(kw => lowerContent.includes(kw))) {\n    categories.push(category);\n  }\n}\n\nreturn {\n  id: item.id,\n  name: item.name,\n  content: content,\n  metadata: {\n    wordCount,\n    readingTime,\n    charCount,\n    uploadedAt: item.createdTime,\n    mimeType: item.mimeType,\n    suggestedCategories: categories\n  }\n};"
      },
      "id": "extract-metadata",
      "name": "Extract Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an expert note organization assistant specializing in academic and professional note-taking. You excel at identifying key concepts, creating meaningful summaries, and generating helpful study materials."
        }
      },
      "id": "ai-agent",
      "name": "Note Processing AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash-exp",
        "options": {
          "temperature": 0.3,
          "maxOutputTokens": 8192,
          "topP": 0.95,
          "topK": 40
        }
      },
      "id": "gemini-model",
      "name": "Gemini Note Processor",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1050, 100],
      "credentials": {
        "googlePalmApi": {
          "id": "1",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "# Note Processing Task\n\n## Source Information\n**File:** {{ $json.name }}\n**Date:** {{ $now.format('YYYY-MM-DD HH:mm') }}\n**Word Count:** {{ $json.metadata.wordCount }}\n**Reading Time:** {{ $json.metadata.readingTime }} minutes\n**Suggested Categories:** {{ $json.metadata.suggestedCategories.join(', ') }}\n\n## Raw Notes\n```\n{{ $json.content }}\n```\n\n## Processing Instructions\n\nAnalyze and restructure these notes with the following sections:\n\n### 1. Executive Summary\n- Provide a 150-200 word overview\n- Highlight the main thesis or purpose\n- Include key takeaways\n\n### 2. Hierarchical Organization\n- Create a logical topic hierarchy\n- Use main topics and subtopics\n- Add bullet points for key details\n\n### 3. Key Concepts & Definitions\n- Extract and define important terms\n- Provide context for each concept\n- Link related concepts\n\n### 4. Important Formulas/Equations (if applicable)\n- List all mathematical expressions\n- Explain variables and constants\n- Provide example applications\n\n### 5. Visual Elements (if applicable)\n- Describe any diagrams, charts, or tables\n- Suggest visual aids that could enhance understanding\n\n### 6. Related Topics\n- Identify 5-7 related subjects\n- Explain connections\n- Suggest resources for deeper learning\n\n### 7. Review Questions\n- Generate 5 thoughtful review questions\n- Mix difficulty levels (recall, application, analysis)\n- Include brief answer hints\n\n### 8. Action Items\n- Extract any tasks or follow-ups\n- Prioritize by importance\n\n### 9. Tags\n- Generate 5-10 relevant tags for categorization\n\n## Output Format\nReturn the processed notes in clean markdown format with proper headers, formatting, and structure. Ensure readability and logical flow."
      },
      "id": "enhanced-prompt",
      "name": "Enhanced Processing Prompt",
      "type": "@n8n/n8n-nodes-langchain.promptTemplate",
      "typeVersion": 1,
      "position": [1250, 100]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI output and structure data\nconst aiOutput = $input.item.json.output || $input.item.json.text || '';\nconst metadata = $input.item.json.metadata || {};\n\n// Extract sections using regex patterns\nconst extractSection = (text, sectionName) => {\n  const pattern = new RegExp(`###?\\\\s*\\\\d*\\\\.?\\\\s*${sectionName}[^#]*?([\\\\s\\\\S]*?)(?=###|$)`, 'i');\n  const match = text.match(pattern);\n  return match ? match[1].trim() : '';\n};\n\n// Extract tags\nconst tagsSection = extractSection(aiOutput, 'Tags');\nconst tags = tagsSection.match(/[-\\w]+/g) || [];\n\n// Extract summary\nconst summary = extractSection(aiOutput, 'Executive Summary');\n\n// Extract questions\nconst questionsSection = extractSection(aiOutput, 'Review Questions');\nconst questions = questionsSection.split(/\\d+\\./).filter(q => q.trim().length > 0);\n\n// Extract topics\nconst topicsSection = extractSection(aiOutput, 'Related Topics');\nconst topics = topicsSection.split(/[-•\\n]/).filter(t => t.trim().length > 10);\n\nreturn {\n  id: $input.item.json.id,\n  name: $input.item.json.name,\n  processedContent: aiOutput,\n  summary: summary.substring(0, 500),\n  tags: tags,\n  topics: topics.map(t => t.trim()),\n  questions: questions.map(q => q.trim()),\n  metadata: {\n    ...metadata,\n    processedAt: new Date().toISOString(),\n    processingVersion: '2.0'\n  }\n};"
      },
      "id": "parse-ai-output",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list"
        },
        "name": "={{ $json.name.replace(/\\.[^/.]+$/, '') }}_processed_{{ $now.format('YYYYMMDD_HHmmss') }}.md",
        "options": {
          "appProperties": {
            "property": [
              {
                "key": "processedBy",
                "value": "n8n-ai-workflow-v2"
              },
              {
                "key": "originalFile",
                "value": "={{ $json.id }}"
              },
              {
                "key": "processingDate",
                "value": "={{ $now.toISO() }}"
              },
              {
                "key": "tags",
                "value": "={{ $json.tags.join(',') }}"
              },
              {
                "key": "wordCount",
                "value": "={{ $json.metadata.wordCount }}"
              }
            ]
          }
        }
      },
      "id": "save-processed",
      "name": "Save Processed Notes",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1450, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "table": "notes",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.id }}",
            "title": "={{ $json.name }}",
            "content": "={{ $json.processedContent }}",
            "summary": "={{ $json.summary }}",
            "tags": "={{ JSON.stringify($json.tags) }}",
            "topics": "={{ JSON.stringify($json.topics) }}",
            "questions": "={{ JSON.stringify($json.questions) }}",
            "word_count": "={{ $json.metadata.wordCount }}",
            "reading_time": "={{ $json.metadata.readingTime }}",
            "created_at": "={{ $now.toISO() }}",
            "metadata": "={{ JSON.stringify($json.metadata) }}"
          }
        },
        "options": {
          "queryBatching": "transaction"
        }
      },
      "id": "save-to-db",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1650, 300],
      "credentials": {
        "postgres": {
          "id": "5",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "✅ **Note Processing Complete**\n\n📄 File: {{ $json.name }}\n📊 Word Count: {{ $json.metadata.wordCount }}\n⏱️ Reading Time: {{ $json.metadata.readingTime }} min\n🏷️ Tags: {{ $json.tags.join(', ') }}\n📅 Processed: {{ $now.format('YYYY-MM-DD HH:mm') }}\n\n💾 Saved to database and Google Drive",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "send-notification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1850, 300],
      "credentials": {
        "telegramApi": {
          "id": "6",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "content": "## ⚠️ Invalid File Type\n\nThe uploaded file cannot be processed.\n\n**File:** {{ $json.name }}\n**Type:** {{ $json.mimeType }}\n\n**Supported formats:**\n- Google Docs\n- Plain text (.txt)\n- PDF files\n- Word documents (.docx)",
        "height": 80,
        "width": 150
      },
      "id": "invalid-file-notice",
      "name": "Invalid File Notice",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [650, 520]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "❌ **File Processing Failed**\n\n📄 File: {{ $json.name }}\n🚫 Reason: Unsupported file type\n📋 Type: {{ $json.mimeType }}\n\nPlease upload a supported format (Google Docs, .txt, .pdf, .docx)",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "error-notification",
      "name": "Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [650, 600],
      "credentials": {
        "telegramApi": {
          "id": "6",
          "name": "Telegram"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Validate File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate File Type": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata": {
      "main": [
        [
          {
            "node": "Note Processing AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Note Processing AI": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Save Processed Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Processed Notes": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Note Processor": {
      "ai_languageModel": [
        [
          {
            "node": "Note Processing AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Processing Prompt": {
      "ai_promptTemplate": [
        [
          {
            "node": "Note Processing AI",
            "type": "ai_promptTemplate",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler-workflow"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": null
    }
  },
  "tags": [
    {
      "createdAt": "2025-01-15T10:00:00.000Z",
      "updatedAt": "2025-01-15T10:00:00.000Z",
      "id": "1",
      "name": "AI"
    },
    {
      "createdAt": "2025-01-15T10:00:00.000Z",
      "updatedAt": "2025-01-15T10:00:00.000Z",
      "id": "2",
      "name": "Automation"
    },
    {
      "createdAt": "2025-01-15T10:00:00.000Z",
      "updatedAt": "2025-01-15T10:00:00.000Z",
      "id": "3",
      "name": "Notes"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "n8n-smart-notes-v2"
  }
}