projects/ai-study-workflow/workflows/research-helper.json
{
  "name": "Research Paper Helper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://arxiv.org/search/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.topic }}"
            },
            {
              "name": "searchtype",
              "value": "all"
            }
          ]
        },
        "options": {}
      },
      "id": "arxiv-search",
      "name": "Search arXiv",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ai-agent",
      "name": "Research AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [650, 300]
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash-exp",
        "options": {
          "temperature": 0.3,
          "maxOutputTokens": 4096
        }
      },
      "id": "gemini-model",
      "name": "Gemini for Research",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [650, 150],
      "credentials": {
        "googlePalmApi": {
          "id": "1",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a research assistant. Analyze the following research papers and provide:\n1. Key findings and contributions\n2. Methodology summary\n3. Potential applications\n4. Related work suggestions\n\nPapers: {{ $json.papers }}"
      },
      "id": "prompt",
      "name": "Research Prompt",
      "type": "@n8n/n8n-nodes-langchain.promptTemplate",
      "typeVersion": 1,
      "position": [850, 150]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $json.documentId }}",
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "id": "save-to-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [850, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search arXiv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search arXiv": {
      "main": [
        [
          {
            "node": "Research AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research AI Agent": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini for Research": {
      "ai_languageModel": [
        [
          {
            "node": "Research AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research Prompt": {
      "ai_promptTemplate": [
        [
          {
            "node": "Research AI Agent",
            "type": "ai_promptTemplate",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
