projects/ai-study-workflow/workflows/schedule-manager.json
{
  "name": "Enhanced Study Schedule Manager",
  "nodes": [
    {
      "parameters": {
        "path": "study-schedule",
        "options": {},
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "webhook",
      "name": "Study Schedule API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "study-schedule-v2"
    },
    {
      "parameters": {
        "jsCode": "// Validate and enrich incoming schedule request\nconst body = $input.item.json.body || {};\n\n// Default values\nconst defaults = {\n  subjects: [],\n  hoursPerDay: 4,\n  examDates: {},\n  goals: 'General study',\n  startDate: new Date().toISOString().split('T')[0],\n  endDate: null,\n  preferences: {\n    studyTimeStart: '09:00',\n    studyTimeEnd: '21:00',\n    breakDuration: 15,\n    sessionDuration: 45,\n    daysOff: ['Sunday']\n  },\n  difficultyLevels: {},\n  currentKnowledge: {},\n  learningStyle: 'mixed' // visual, auditory, kinesthetic, reading, mixed\n};\n\n// Merge with defaults\nconst config = { ...defaults, ...body };\n\n// Validate subjects\nif (!config.subjects || config.subjects.length === 0) {\n  throw new Error('At least one subject is required');\n}\n\n// Parse subjects if string\nif (typeof config.subjects === 'string') {\n  config.subjects = config.subjects.split(',').map(s => s.trim());\n}\n\n// Calculate end date if not provided (use furthest exam date or +30 days)\nif (!config.endDate) {\n  const examDates = Object.values(config.examDates).map(d => new Date(d));\n  if (examDates.length > 0) {\n    const maxDate = new Date(Math.max(...examDates));\n    config.endDate = maxDate.toISOString().split('T')[0];\n  } else {\n    const endDate = new Date();\n    endDate.setDate(endDate.getDate() + 30);\n    config.endDate = endDate.toISOString().split('T')[0];\n  }\n}\n\n// Assign default difficulty levels\nconfig.subjects.forEach(subject => {\n  if (!config.difficultyLevels[subject]) {\n    config.difficultyLevels[subject] = 'medium';\n  }\n  if (!config.currentKnowledge[subject]) {\n    config.currentKnowledge[subject] = 50; // 0-100 scale\n  }\n});\n\n// Calculate total days and validate\nconst start = new Date(config.startDate);\nconst end = new Date(config.endDate);\nconst totalDays = Math.ceil((end - start) / (1000 * 60 * 60 * 24));\n\nif (totalDays <= 0) {\n  throw new Error('End date must be after start date');\n}\n\nif (totalDays > 365) {\n  throw new Error('Schedule cannot exceed 365 days');\n}\n\nconfig.totalDays = totalDays;\nconfig.requestId = `schedule_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\nconfig.createdAt = new Date().toISOString();\n\nreturn { json: config };"
      },
      "id": "validate-input",
      "name": "Validate & Enrich Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Calculate priority scores for each subject\nconst config = $input.item.json;\nconst subjects = config.subjects;\nconst examDates = config.examDates || {};\nconst difficulty = config.difficultyLevels || {};\nconst knowledge = config.currentKnowledge || {};\n\nconst today = new Date(config.startDate);\n\nconst subjectPriorities = subjects.map(subject => {\n  // Calculate days until exam (if exists)\n  let daysUntilExam = Infinity;\n  if (examDates[subject]) {\n    const examDate = new Date(examDates[subject]);\n    daysUntilExam = Math.ceil((examDate - today) / (1000 * 60 * 60 * 24));\n  }\n  \n  // Urgency score (closer exam = higher priority)\n  let urgencyScore = 0;\n  if (daysUntilExam !== Infinity) {\n    if (daysUntilExam <= 7) urgencyScore = 100;\n    else if (daysUntilExam <= 14) urgencyScore = 80;\n    else if (daysUntilExam <= 30) urgencyScore = 60;\n    else if (daysUntilExam <= 60) urgencyScore = 40;\n    else urgencyScore = 20;\n  } else {\n    urgencyScore = 30; // Default for no exam\n  }\n  \n  // Difficulty score (harder = more time needed)\n  const difficultyMap = {\n    'easy': 20,\n    'medium': 50,\n    'hard': 80,\n    'very hard': 100\n  };\n  const difficultyScore = difficultyMap[difficulty[subject]?.toLowerCase()] || 50;\n  \n  // Knowledge gap score (lower knowledge = higher priority)\n  const knowledgeGap = 100 - (knowledge[subject] || 50);\n  \n  // Calculate weighted priority (40% urgency, 35% difficulty, 25% knowledge gap)\n  const totalPriority = (urgencyScore * 0.4) + (difficultyScore * 0.35) + (knowledgeGap * 0.25);\n  \n  // Calculate recommended hours per week\n  let hoursPerWeek = config.hoursPerDay * 5; // Base allocation\n  const subjectWeight = totalPriority / 100;\n  const subjectHours = (hoursPerWeek / subjects.length) * (0.5 + subjectWeight);\n  \n  return {\n    subject: subject,\n    priority: Math.round(totalPriority),\n    urgencyScore,\n    difficultyScore,\n    knowledgeGap,\n    daysUntilExam: daysUntilExam === Infinity ? null : daysUntilExam,\n    examDate: examDates[subject] || null,\n    recommendedHoursPerWeek: Math.round(subjectHours * 10) / 10,\n    difficulty: difficulty[subject] || 'medium',\n    currentKnowledge: knowledge[subject] || 50\n  };\n});\n\n// Sort by priority (highest first)\nsubjectPriorities.sort((a, b) => b.priority - a.priority);\n\nreturn {\n  json: {\n    ...config,\n    subjectPriorities: subjectPriorities,\n    totalSubjects: subjects.length,\n    highPriorityCount: subjectPriorities.filter(s => s.priority >= 70).length,\n    mediumPriorityCount: subjectPriorities.filter(s => s.priority >= 40 && s.priority < 70).length,\n    lowPriorityCount: subjectPriorities.filter(s => s.priority < 40).length\n  }\n};"
      },
      "id": "calculate-priorities",
      "name": "Calculate Subject Priorities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an expert study schedule optimizer with knowledge of cognitive science, spaced repetition, and effective learning techniques. You create personalized, science-based study plans that maximize retention and minimize burnout. Consider cognitive load, optimal study session lengths, and the spacing effect when creating schedules."
        }
      },
      "id": "schedule-ai-agent",
      "name": "Schedule AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [850, 400]
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash-exp",
        "options": {
          "temperature": 0.4,
          "maxOutputTokens": 8192,
          "topP": 0.9
        }
      },
      "id": "gemini-scheduler",
      "name": "Gemini Scheduler",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "googlePalmApi": {
          "id": "1",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "# Study Schedule Creation Task\n\n## Student Profile\n**Start Date:** {{ $json.startDate }}\n**End Date:** {{ $json.endDate }}\n**Total Days:** {{ $json.totalDays }}\n**Daily Study Hours:** {{ $json.hoursPerDay }}\n**Study Window:** {{ $json.preferences.studyTimeStart }} - {{ $json.preferences.studyTimeEnd }}\n**Days Off:** {{ $json.preferences.daysOff.join(', ') }}\n**Learning Style:** {{ $json.learningStyle }}\n**Goals:** {{ $json.goals }}\n\n## Subject Priorities (Sorted by Urgency & Difficulty)\n{{ $json.subjectPriorities.map((s, i) => `${i+1}. **${s.subject}** (Priority: ${s.priority}/100)\n   - Exam Date: ${s.examDate || 'Not scheduled'}\n   - Days Until Exam: ${s.daysUntilExam || 'N/A'}\n   - Difficulty: ${s.difficulty}\n   - Current Knowledge: ${s.currentKnowledge}%\n   - Recommended Hours/Week: ${s.recommendedHoursPerWeek}`).join('\\n\\n') }}\n\n## Scheduling Requirements\n\n### 1. Session Structure\n- Use **Pomodoro Technique**: {{ $json.preferences.sessionDuration }} min study + {{ $json.preferences.breakDuration }} min break\n- Include 30-minute breaks after every 2 sessions\n- Maximum 4 hours of continuous study per day\n- Schedule most challenging subjects during peak cognitive hours (morning/early afternoon)\n\n### 2. Spaced Repetition\n- **Day 1:** Learn new material\n- **Day 3:** First review (20-30 min)\n- **Day 7:** Second review (15-20 min)\n- **Day 14:** Third review (10-15 min)\n- **Day 30:** Final review (10 min)\n- Build these review sessions into the schedule automatically\n\n### 3. Study Techniques by Subject Type\n- **High priority/difficulty:** Active recall, practice problems, teaching method\n- **Medium priority:** Mixed review, flashcards, concept mapping\n- **Low priority:** Reading, video lectures, note-taking\n\n### 4. Weekly Structure\n- **Monday-Friday:** Main learning sessions\n- **Saturday:** Review and practice problems\n- **Sunday:** Complete rest or light review only (if not in days off)\n- Alternate between subjects daily to avoid cognitive fatigue\n\n### 5. Pre-Exam Strategy\n- **2 weeks before:** Intensive practice and mock tests\n- **1 week before:** Focus on weak areas and review\n- **3 days before:** Light review and rest\n- **1 day before:** Final summary review only, early rest\n\n## Output Format\n\nGenerate a comprehensive study schedule in the following JSON structure:\n\n```json\n{\n  \"schedule\": [\n    {\n      \"date\": \"YYYY-MM-DD\",\n      \"dayOfWeek\": \"Monday\",\n      \"sessions\": [\n        {\n          \"startTime\": \"09:00\",\n          \"endTime\": \"09:45\",\n          \"subject\": \"Subject Name\",\n          \"type\": \"Learning|Review|Practice|Exam Prep\",\n          \"topic\": \"Specific topic or chapter\",\n          \"activities\": [\"Activity 1\", \"Activity 2\"],\n          \"techniques\": [\"Active recall\", \"Practice problems\"],\n          \"difficulty\": \"High|Medium|Low\",\n          \"isReviewSession\": false,\n          \"reviewDay\": null,\n          \"priority\": 85\n        }\n      ],\n      \"totalStudyMinutes\": 240,\n      \"breakMinutes\": 60,\n      \"subjects\": [\"Math\", \"Physics\"]\n    }\n  ],\n  \"summary\": {\n    \"totalStudyHours\": 120,\n    \"hoursPerSubject\": {\"Math\": 40, \"Physics\": 40, \"Chemistry\": 40},\n    \"reviewSessions\": 45,\n    \"practiceTests\": 12,\n    \"daysUntilFirstExam\": 30,\n    \"recommendations\": [\n      \"Focus on Math in mornings due to high difficulty\",\n      \"Schedule practice tests every Saturday\"\n    ]\n  },\n  \"milestones\": [\n    {\n      \"date\": \"YYYY-MM-DD\",\n      \"description\": \"Complete Chapter 1-3 for Math\",\n      \"subjects\": [\"Math\"]\n    }\n  ]\n}\n```\n\n## Important Guidelines\n- Create a COMPLETE day-by-day schedule from start to end date\n- Ensure total daily study time doesn't exceed specified hours\n- Balance cognitive load across the day\n- Include specific, actionable tasks for each session\n- Prioritize subjects approaching exam dates\n- Insert review sessions based on spaced repetition schedule\n- Add pre-exam intensive sessions automatically\n- Respect days off and study time windows\n- Return ONLY valid JSON, no additional text"
      },
      "id": "enhanced-schedule-prompt",
      "name": "Enhanced Schedule Prompt",
      "type": "@n8n/n8n-nodes-langchain.promptTemplate",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate AI-generated schedule\nlet scheduleData;\n\ntry {\n  const aiOutput = $input.item.json.output || $input.item.json.text || '';\n  \n  // Clean JSON from potential markdown code blocks\n  let cleanJson = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  // Try to extract JSON if wrapped in text\n  const jsonMatch = cleanJson.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    cleanJson = jsonMatch[0];\n  }\n  \n  scheduleData = JSON.parse(cleanJson);\n  \n  // Validate structure\n  if (!scheduleData.schedule || !Array.isArray(scheduleData.schedule)) {\n    throw new Error('Invalid schedule structure: missing schedule array');\n  }\n  \n  if (!scheduleData.summary) {\n    scheduleData.summary = {\n      totalStudyHours: 0,\n      hoursPerSubject: {},\n      reviewSessions: 0,\n      practiceTests: 0\n    };\n  }\n  \n  // Calculate statistics if missing\n  if (!scheduleData.summary.totalStudyHours) {\n    const totalMinutes = scheduleData.schedule.reduce((sum, day) => \n      sum + (day.totalStudyMinutes || 0), 0);\n    scheduleData.summary.totalStudyHours = Math.round((totalMinutes / 60) * 10) / 10;\n  }\n  \n  // Count sessions by type\n  let learningCount = 0;\n  let reviewCount = 0;\n  let practiceCount = 0;\n  \n  scheduleData.schedule.forEach(day => {\n    if (day.sessions) {\n      day.sessions.forEach(session => {\n        if (session.type?.toLowerCase().includes('review')) reviewCount++;\n        else if (session.type?.toLowerCase().includes('practice')) practiceCount++;\n        else learningCount++;\n      });\n    }\n  });\n  \n  scheduleData.stats = {\n    totalDays: scheduleData.schedule.length,\n    learningSessions: learningCount,\n    reviewSessions: reviewCount,\n    practiceSessions: practiceCount,\n    totalSessions: learningCount + reviewCount + practiceCount\n  };\n  \n  // Add metadata\n  scheduleData.metadata = {\n    requestId: $input.item.json.requestId,\n    createdAt: new Date().toISOString(),\n    config: {\n      subjects: $input.item.json.subjects,\n      hoursPerDay: $input.item.json.hoursPerDay,\n      startDate: $input.item.json.startDate,\n      endDate: $input.item.json.endDate,\n      totalDays: $input.item.json.totalDays\n    }\n  };\n  \n  return { json: scheduleData };\n  \n} catch (error) {\n  console.error('Schedule parsing error:', error);\n  throw new Error(`Failed to parse AI schedule: ${error.message}`);\n}"
      },
      "id": "parse-schedule",
      "name": "Parse & Validate Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "jsCode": "// Convert schedule to individual calendar events\nconst scheduleData = $input.item.json;\nconst schedule = scheduleData.schedule || [];\n\nconst calendarEvents = [];\n\nschedule.forEach(day => {\n  const dayDate = day.date;\n  \n  (day.sessions || []).forEach(session => {\n    // Parse times\n    const [startHour, startMin] = session.startTime.split(':').map(Number);\n    const [endHour, endMin] = session.endTime.split(':').map(Number);\n    \n    // Create ISO datetime strings\n    const startDateTime = new Date(dayDate);\n    startDateTime.setHours(startHour, startMin, 0, 0);\n    \n    const endDateTime = new Date(dayDate);\n    endDateTime.setHours(endHour, endMin, 0, 0);\n    \n    // Build description\n    const description = `📚 **${session.type}**\\n\\n` +\n      `📖 Topic: ${session.topic || 'General study'}\\n\\n` +\n      `🎯 Activities:\\n${(session.activities || []).map(a => `• ${a}`).join('\\n')}\\n\\n` +\n      `🧠 Techniques: ${(session.techniques || []).join(', ')}\\n\\n` +\n      `⚡ Difficulty: ${session.difficulty || 'Medium'}\\n` +\n      `🎓 Priority: ${session.priority || 50}/100\\n\\n` +\n      (session.isReviewSession ? `🔄 Review session (Original: Day ${session.reviewDay})\\n\\n` : '') +\n      `Generated by AI Study Planner`;\n    \n    // Color coding by type\n    const colorMap = {\n      'learning': '9', // Blue\n      'review': '5', // Yellow  \n      'practice': '11', // Red\n      'exam prep': '4' // Flamingo\n    };\n    const colorId = colorMap[session.type?.toLowerCase()] || '7'; // Gray default\n    \n    calendarEvents.push({\n      subject: session.subject,\n      type: session.type,\n      topic: session.topic,\n      startDateTime: startDateTime.toISOString(),\n      endDateTime: endDateTime.toISOString(),\n      summary: `${session.subject}: ${session.topic || session.type}`,\n      description: description,\n      colorId: colorId,\n      date: dayDate,\n      isReviewSession: session.isReviewSession || false,\n      priority: session.priority || 50\n    });\n  });\n});\n\n// Return events as separate items\nreturn calendarEvents.map(event => ({ json: event }));"
      },
      "id": "create-calendar-events",
      "name": "Create Calendar Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ $json.startDateTime }}",
        "end": "={{ $json.endDateTime }}",
        "summary": "={{ $json.summary }}",
        "description": "={{ $json.description }}",
        "options": {
          "colorId": "={{ $json.colorId }}",
          "reminders": {
            "useDefault": false,
            "overrides": [
              {
                "method": "popup",
                "minutes": 30
              },
              {
                "method": "popup",
                "minutes": 5
              }
            ]
          }
        }
      },
      "id": "add-to-calendar",
      "name": "Add to Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [1450, 400],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "table": "study_schedules",
        "columns": {
          "mappingMode": "defineBelow","value": {
            "request_id": "={{ $('Parse & Validate Schedule').item.json.metadata.requestId }}",
            "subjects": "={{ JSON.stringify($('Parse & Validate Schedule').item.json.metadata.config.subjects) }}",
            "start_date": "={{ $('Parse & Validate Schedule').item.json.metadata.config.startDate }}",
            "end_date": "={{ $('Parse & Validate Schedule').item.json.metadata.config.endDate }}",
            "total_days": "={{ $('Parse & Validate Schedule').item.json.metadata.config.totalDays }}",
            "hours_per_day": "={{ $('Parse & Validate Schedule').item.json.metadata.config.hoursPerDay }}",
            "total_study_hours": "={{ $('Parse & Validate Schedule').item.json.summary.totalStudyHours }}",
            "learning_sessions": "={{ $('Parse & Validate Schedule').item.json.stats.learningSessions }}",
            "review_sessions": "={{ $('Parse & Validate Schedule').item.json.stats.reviewSessions }}",
            "practice_sessions": "={{ $('Parse & Validate Schedule').item.json.stats.practiceSessions }}",
            "full_schedule": "={{ JSON.stringify($('Parse & Validate Schedule').item.json) }}",
            "created_at": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "save-schedule-db",
      "name": "Save Schedule to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1250, 600],
      "credentials": {
        "postgres": {
          "id": "5",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "schedule_response",
              "name": "scheduleData",
              "type": "object",
              "value": "={{ $('Parse & Validate Schedule').item.json }}"
            },
            {
              "id": "events_created",
              "name": "eventsCreated",
              "type": "number",
              "value": "={{ $('Add to Google Calendar').all().length }}"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-response",
      "name": "Prepare API Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  message: 'Study schedule created successfully',\n  requestId: $json.scheduleData.metadata.requestId,\n  summary: {\n    totalDays: $json.scheduleData.stats.totalDays,\n    totalStudyHours: $json.scheduleData.summary.totalStudyHours,\n    totalSessions: $json.scheduleData.stats.totalSessions,\n    learningSessions: $json.scheduleData.stats.learningSessions,\n    reviewSessions: $json.scheduleData.stats.reviewSessions,\n    practiceSessions: $json.scheduleData.stats.practiceSessions,\n    calendarEventsCreated: $json.eventsCreated\n  },\n  schedule: $json.scheduleData.schedule,\n  recommendations: $json.scheduleData.summary.recommendations || [],\n  milestones: $json.scheduleData.milestones || [],\n  hoursPerSubject: $json.scheduleData.summary.hoursPerSubject\n} }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "content": "## Enhanced Study Schedule Manager\n\n**Features:**\n✅ Intelligent priority calculation\n✅ Spaced repetition integration\n✅ Pomodoro technique scheduling\n✅ Cognitive load optimization\n✅ Pre-exam strategy automation\n✅ Google Calendar integration\n✅ Color-coded events\n✅ Database tracking\n✅ Comprehensive analytics\n\n**Input Parameters:**\n- subjects (array)\n- hoursPerDay (number)\n- examDates (object)\n- startDate, endDate\n- preferences (object)\n- difficultyLevels (object)\n- currentKnowledge (object)\n- learningStyle (string)\n\n**Returns:**\n- Complete daily schedule\n- Session breakdown\n- Study statistics\n- Recommendations\n- Calendar events created",
        "height": 460,
        "width": 280
      },
      "id": "workflow-documentation",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 620]
    }
  ],
  "connections": {
    "Study Schedule API": {
      "main": [
        [
          {
            "node": "Validate & Enrich Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Enrich Input": {
      "main": [
        [
          {
            "node": "Calculate Subject Priorities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Subject Priorities": {
      "main": [
        [
          {
            "node": "Schedule AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule AI Agent": {
      "main": [
        [
          {
            "node": "Parse & Validate Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Schedule": {
      "main": [
        [
          {
            "node": "Create Calendar Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Schedule to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Events": {
      "main": [
        [
          {
            "node": "Add to Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Calendar": {
      "main": [
        [
          {
            "node": "Prepare API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Schedule to DB": {
      "main": [
        [
          {
            "node": "Prepare API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare API Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Scheduler": {
      "ai_languageModel": [
        [
          {
            "node": "Schedule AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Schedule Prompt": {
      "ai_promptTemplate": [
        [
          {
            "node": "Schedule AI Agent",
            "type": "ai_promptTemplate",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any",
    "errorWorkflow": "error-handler-workflow"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-15T10:00:00.000Z",
      "updatedAt": "2025-01-15T10:00:00.000Z",
      "id": "1",
      "name": "Education"
    },
    {
      "createdAt": "2025-01-15T10:00:00.000Z",
      "updatedAt": "2025-01-15T10:00:00.000Z",
      "id": "2",
      "name": "AI"
    },
    {
      "createdAt": "2025-01-15T10:00:00.000Z",
      "updatedAt": "2025-01-15T10:00:00.000Z",
      "id": "3",
      "name": "Productivity"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "study-scheduler-v2"
  }
}